@model List< ElectionProgram.Models.Candidate>
@{
    ViewBag.Title = "Election System    ";

}
<link href="~/Content/TemplateStyle.css" rel="stylesheet" />
<link href="~/Content/LoginStyle.css" rel="stylesheet" />
@section header
    {
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div style="width:900px;float:left"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="font-size:22px;">
                    <li>@Html.ActionLink("Register", "Registeration", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "LogIN", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>

            </div>
            </div>
        </div>

}
<div id="contents">
    <div id="adbox">
        <div class="clearfix">
            <img src="~/Content/images/family-large.jpg" alt="Img" height="382" width="594">
            <div class="detail">
                <h1>It’s never easy...<br> When it comes to family.</h1>
                <p>
                    But we can set<br> everything straight.
                </p>
            </div>
        </div>
    </div>
    <div class="highlight">
        <div class="clearfix">
            <div class="testimonial">
                <h2>Testimonials</h2>
                <p>
                    &ldquo;Aenean ullamcorper purus vitae nisl tristique sollicitudin. Quisque vestibulum, erat ornare.&rdquo;
                </p>
                <span>-John Doe and Jane Doe-</span>
            </div>
            <h1>The Manes Winchester Promise</h1>
            
        </div>
    </div>
    <div class="featured">
        <h2>Our Candidates</h2>
        @foreach (var candidate in Model)
        {
        
            <ul>
                <li class="text-center">
                    <span class="frame1">
                        <span class="box">
                            <img src="@candidate.ImagePath" alt="Img" height="130" width="197">
                        </span>
                    </span>
                    <p>
                        <b>@candidate.Name</b>
                    </p>
                    <span class="btn btn-info" style="text-align:center;color:white">
                        @Html.ActionLink("Read More", "Details", "Candidates", null, new { id = @candidate.ID })
                    </span>
                </li>
            </ul>

        }
    </div>
</div>
<div style="clear:both"></div>

<div id="footer">
    <div class="clearfix">
        <div class="section">
            <h4>Latest News</h4>
            
        </div>
        <div class="section contact">
            <h4>Contact Us</h4>
            <p>
                <span>Address:</span> the address city, state 1111
            </p>
            <p>
                <span>Phone:</span> (+20) 000 222 999
            </p>
            <p>
                <span>Email:</span> info@freewebsitetemplates.com
            </p>
        </div>
        <div class="section">
            <h4>SEND US A MESSAGE</h4>
            <p>
                If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
            </p>
            <a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
        </div>
    </div>
    <div id="footnote">
        <div class="clearfix">
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
            </div>
            
        </div>
    </div>
    </div>

