@model ElectionProgram.Models.ApplicationUser

@{
    ViewBag.Title = "@Model.UserName";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@section header{
    <div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @{
                string s = Model.Id;}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"style="font-size:20px;margin-top:20px">
                    <li>@Html.ActionLink("show candidates","ShowCandidate", new { id= Model.Id })</li>
                    <li>@Html.ActionLink("Vote", "Vote",new {  id = Model.Id })</li>
                    <li>@Html.ActionLink("Aplay As Candidate", "Aplay", new { id = Model.Id })
                    <li>@Html.ActionLink("Show Election Result", "ShowResult", "Voters", new { id = Model.Id })</li>
                </ul>
               
                <span ><img src="@Model.ImagePath " width=50 height=50 /></span>
                <span class="icon-bar" style="color:white;font-size:20px;margin:50px"> @Model.UserName </span>
                          
            </div>
        </div>
    </div>
}