@model ElectionProgram.Models.Voter

@{
    ViewBag.Title = "My page";

    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@section header{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Ajax.ActionLink("show candidates", "show", new AjaxOptions()
                   {
                       UpdateTargetId = "m",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   });
                    </li>
                    <li>@Html.ActionLink("Vote", "Vote", new { id = Model.ID })</li>
                    <li>@Html.ActionLink("Aplay As Candidate", "Aplay", new { id = Model.ID })
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Show Election Result", "ShowResult", "Voters")</li>
                    <li>@Html.ActionLink("Show Winner", "ShowWinner", "Voters")</li>
                </ul>
               
                <span ><img src="@Model.ImagePath " width=50 height=50 /></span>
                <span class="icon-bar" style="color:white"> @Model.Name </span>
                          
            </div>
        </div>
    </div>

   
}


           

@section Scripts {
@Scripts.Render("~/bundles/jqueryAjax")
    
}

    

<div id="m" style="width:100%;height:100%;background-color:antiquewhite;z-index: 1;margin:100px 30px;overflow:scroll">

  
</div>



