@model List<ElectionProgram.Models.Candidate>

@{
    ViewBag.Title = "ShowWinner";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header
     {
    <h2>RepeatedElection</h2>
}
<br />
<br />
<br />
<br />
<h1>The Election will be repeated between :@Model[0].Name and @Model[1].Name </h1>
@*@foreach (var item in Model)
{
    @Html.Label(item.Name);
}*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfVotes)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfVotes)
            </td>
        </tr>
    }*@

</table>