@model ElectionProgram.ViewModel.ElectionCadidates

@{
    ViewBag.Title = "ShowResult";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header{
    <h3>ShowResult</h3>
}
<h2>ShowResult</h2>


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfVotes)
        </th>*@
    @*@{
        foreach (var item in Model.candidateList)
        {
            <tr>

                <td>@item.Name </td>
                <td>@item.NoOfVotes </td>


            </tr>
        }
    }*@


    @{ 
        var Top2Candidate = (from c in Model.candidateList
                    select c).OrderByDescending(c => c.NoOfVotes).Take(2);
    }
    @foreach (var item in Top2Candidate)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfVotes)
            </td>
            
        </tr>
    }
      
</table>

<div class="btn btn-info" style="text-align:center;color:white">
    @Html.ActionLink("Goto MYPage", "MYPage","Voters", new { id = Model.AppUserID})
</div>
