@model  ElectionProgram.ShowModel.CandidatesIDVoter
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section header{
    <div>Votting Page</div>
}
<div style="margin-top:20px"></div>
    
        @using (Html.BeginForm("change", "Voters", FormMethod.Post))
        {
            
            foreach (var item in Model.canList)
            {
              <div style="background-color:#f2f2f2 ;margin-top:10px" >@item.Name </div>
                // @Html.RadioButton("id", @item.ID,new {@unchecked=true} ) <span>Vote</span>
               <input name="id"type="radio" value="@item.ID"/>
                  
                @Html.Hidden("VoterID", Model.VoterID)
                
                   }
              <br />
              <input type="submit" value="Applay Vote"class="btn btn-primary" />
               }


              @Html.ActionLink("Goto MYPage", "MYPage", new { id = Model.VoterID })







